@keyframes color-change { 
    0% { color: rgb(135, 235, 255); } 
    50% { color: rgb(221, 167, 255); } 
    100% { color: rgb(252, 133, 209); }
}


body {
    font-family: Dancing Script,  Script; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #b3bebe; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #84f7ff; /* Warna tajuk (header)*/
    font-size: 50px; /* Ukuran font tajuk (header) */
    font-family: Comfortaa, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h2, h3 {
    color: #96eef6; /* Warna tajuk (header)*/
    font-size: 30px; /* Ukuran font tajuk (header) */
    font-family: Comfortaa, sans-serif;/*g digunakan di tajuk (header) */
}

h4 {
    color: #84f7ff; /* Warna tajuk (header)*/
    animation: color-change 3s infinite;
    font-size: 30px; /* Ukuran font tajuk (header) */
    font-family: Comfortaa, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
    background-color: #ffffff;
}

ul {
    color: #000000; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Comfortaa, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}

p {
    color: #000000; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Comfortaa, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}



img {
    display: block;
    margin: 10px auto;
}